body {
    margin: 0;
    font-family: 'Rubik', Arial, sans-serif;
    font-size: 18px;
}
h2{
    font-size: 18px;
    font-weight: 500px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
h1{
    font-weight: 700px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

button {
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 45vh;
    max-width: 500px;
    height: 50px;
    border-radius: 12px 0 0 12px;
    padding-left: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

#Topchoice {
    color: white;
    width: 70vh;
 
}

.input-group {
    display: flex;
    width: auto;
    flex-direction: row;
    
    gap: 0;
}

.input-group button {
    width: 50px;
    height: 50px;
    border-radius: 0 12px 12px 0;
    border-left: none;
    margin: 0;
}

header {
    background: 
     linear-gradient(rgba(9, 16, 56, 0.5), rgba(47, 75, 231, 0.5)),
     url("./images/pattern-bg-desktop.png");
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#map {
    height: 75vh;
    width: 100%;
    position: relative;
}


.Tool-tip {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: black;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: opacity 0.3s ease;
}

.Tool-tip:hover .tooltiptext,
.Tool-tip:focus-within .tooltiptext {
    visibility: visible;
    opacity: 1;
}


input:hover,
input:focus,
button:hover {
    border: 1px solid red;
}

button:focus {
    opacity: 80%;
}

#LocaionDisplay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    z-index: 1000;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    height: auto
}

#LocaionDisplay .container {
    border-right: solid gray;
    padding: 0 1rem;
    flex: 1;
}

#LocaionDisplay .container:last-child {
    border-right: none;
}


#IPcontainer:hover,
#Loccontainertext:hover,
#Timezonecontainer:hover,
#ISPcontainer:hover {
    color: blue;
}


#ErrorBox {
    display: none;
    color: rgb(207, 133, 36);
}


@media (max-width: 600px) {
    .input-group {
        max-width: 100%;
      
    }

    input {
        height: 65px;
        width: 300px;
        border-radius: 12px 0 0 12px;
        border-right: none;
        flex-grow: 1;
    }

    .input-group button {
        width: 65px;
        height: 65px;
        border-radius: 0 12px 12px 0;
        border-left: none;
        
    }

    #Topchoice {
        width: 100%;
        flex-direction: column;
        gap: 10px;
        align-items: center;
      
    }

    h1 {
        font-size: 1.6rem;
        text-align: center;
        font-weight: 800px;
    }


     #LocaionDisplay {
         position: absolute;
        top: 150px; 
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        width: 80%;
        z-index: 2000;
        background: white;
        border-radius: 12px;
        padding: 1.2rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    }

    #LocaionDisplay .container {
        border-bottom: 1px solid lightgray;
        border-right: none;
       
    }

    #LocaionDisplay .container:last-child {
        border-bottom: none;
    }



    header {
        height: auto;
        padding-bottom: 100px;
    }

    #map {
        height: 90vh;
        
    }
    body{
        font-size: small
    };

}